/*-------------------- GOOGLE FONTS --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&display=swap');

/*-------------------- GLOBAL STYLES --------------------*/
body {
    font-family: 'Ibarra Real Nova', serif;
}

a {
    display: block;
}

/*-------------------- COLOR VARIABLES --------------------*/
:root {
    --marron: #827081;
    --rosa: #e3d0d8;
    --lila: #e7e6f7;
    --oscuro: rgb(53, 53, 53);
}

/*-------------------- FORM STYLES --------------------*/
.title {
    color: var(--oscuro);
    background-color: var(--rosa);
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.container {
    height: 100vh;
}

.btns__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 3rem 0 3rem;
}

.style {
    padding: 2rem;
}

.styles__img {
    width: 100%;
}

.styles__link {
    text-align: center;
    transition: all 0.15s;
}

.styles__link:hover {
    opacity: 0.5;
}

.styles__link:active {
    background-color: var(--marron);
}

.style__text {
    font-size: 1.5rem;
    text-align: center;
}

.colors__container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10rem;
}

.colors__btn {
    cursor: pointer;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    transition: 0.15s all;
}

.colors__btn:hover {
    transform: scale(1.2);
}

#rojo {
    background-color: #f94144;
}

#azul {
    background-color: #277da1;
}

#verde {
    background-color: #43aa8b;
}

#morado {
    background-color: #577590;
}

#amarillo {
    background-color: #f9c74f;
}

.random__color {
    border: 2px solid var(--rosa);
    color: var(--oscuro);
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 2rem 4rem;
    text-align: center;
    text-decoration: none;
    margin-top: 8rem;
    width: 10rem;
    transition: all 0.15s;
}

.random__color:hover {
    background-color: var(--rosa);
}
